* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#wrapper {
  background: url(../img/background.jpg);
  background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    /*-ms-content-zooming: none;*/
    position:absolute;
    width:100%;
    height:100%;
    overflow: auto;
    margin: 0 auto;
    padding: 0;

}
form {
  position: relative;
  margin: 0 auto;
  background: rgba(37, 50, 61, 0.8);
  color: white;
  width: 400px;
  height: 500px;
  top: 15%;
  font-family: 'Titillium Web', sans-serif;
}
#top-buttons {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,0);
}
#button1 {
  background: #1AB188;
  outline: none;
  border: none;
  padding: 10px;
  color: white;
}
#button2 {
  background: rgb(93, 88, 90);
  outline: none;
  border: none;
  padding: 10px;
  color: white;
  opacity: 0.7;
  transition: opacity 600ms;
}

#button2:hover, #button2:active, #button2:focus {
  opacity: 1;
}

#blanks {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 25%;
}

input {
  height: 2em;
  font-family: 'Raleway', sans-serif;
}
